
// Login and Rgister Page
.auth-welcome {
  margin-left: 1.5em;
  text-align: left;
  h3 {
    margin-bottom: 0;
  }
  p {
    font-size: 1.5em;
    margin-top: 0;
  }
}

.auth-form {
  text-align: center;

  .auth-btn {
    width: 85%;
  }
}
