<div>{{message}}</div>

<div id="householdList">
  <a ng-repeat="item in userHouseholds" href="#!/households/{{item.Household.id}}">
    <div class="household-container">
      <div class="card household-card">
        <div class="card-body">
          {{item.Household.title}}
        </div>
      </div>
    </div>
  </a>
  
  <a href="#!/newhousehold">
    <div class="household-container">
      <div class="card add-new-card">
        <div class="card-body">
          Create new household...
        </div>
      </div>
    </div>
  </a>
</div>