<div class="back-btn-container">
  <a ng-click="toHouseholdList()" class="back-btn"><i class="material-icons">arrow_back</i></a>
</div>
<div class="form-container">
  <h3>New Household</h3>
  <div class="row">
    <form class="col s12 form">
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="household.title" type="text" class="validate" id="title">
          <label for="title">Household Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="household.image" type="text" class="validate" id="image">
          <label for="image">Image URL</label>
        </div>
      </div>
      <a ng-click="createNewHousehold()" class="waves-effect waves-light btn action-btn">Create</a>
    </form>
  </div>
</div>

<span>Preview:</span>

<div id="household-list" class="row">
  <div class="col s12">
    <a>
      <div class="card-panel z-depth-4 household-card">
        <img src={{household.image}} alt="" class="circle">
        <div class="household-title">
          <span>{{household.title}}</span>
        </div>
      </div>
    </a>
  </div>
</div>