
<div class="auth-welcome">
  <h3>Log in to ChoreWars</h2>
  <p>or <a href="#!/register">create an account</a></p>
</div>

<div class="row">
  <form class="col s12 form">
    <div class="row">
      <div class="input-field col s12">
        <input ng-model="user.email" type="email" class="validate" id="email">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input ng-model="user.password" type="password" class="validate" id="password">
        <label for="password">Password</label>
      </div>
    </div>
    <a ng-click="login()" class="waves-effect waves-light btn action-btn">Log In</a>
  </form>
</div>