<div>
  <h2>Create an Account</h2>
  <h4>or <a href="#!/login">Sign In</a></h4>
</div>

<form>
    <div class="form-group">
      <label for="InputName">Full name</label>
      <input ng-model="user.name" type="text" class="form-control" id="InputName" aria-describedby="nameHelp" placeholder="Enter full name" >
      <small id="nameHelp" class="form-text text-muted">Help other users search for you by adding your full name</small>
    </div>
    <div class="form-group">
      <label for="InputUsername">Username</label>
      <input ng-model="user.username" type="text" class="form-control" id="InputUsername" placeholder="Enter desired username">
    </div>
    <div class="form-group">
      <label for="InputEmail">Email address</label>
      <input ng-model="user.email" type="email" class="form-control" id="InputEmail" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="InputPassword">Password</label>
      <input ng-model="user.password" type="password" class="form-control" id="InputPassword" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="InputConfirmation">Password Confirmation</label>
      <input ng-model="user.confirmation" type="password" class="form-control" id="InputConfirmation" placeholder="Password Confirmation">
    </div>
    <button ng-click="register()" class="btn btn-secondary">Register</button>
  </form>