<div class="auth-welcome">
  <h3>Create an Account</h3>
  <p>or <a href="#!/login">Sign In</a></p>
</div>

<div class="row">
  <form class="col s12 auth-form">
    <div class="row">
      <div class="input-field col s12">
        <input ng-model="user.name" type="text" class="validate" id="name">
        <label for="name">Full name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input ng-model="user.username" type="text" class="validate" id="username">
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input ng-model="user.email" type="email" class="validate" id="email">
        <label for="email">Email address</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input ng-model="user.password" type="password" class="validate" id="password">
        <label for="password">Password</label>
      </div>
      <div class="input-field col s6">
        <input ng-model="user.confirmation" type="password" class="validate" id="confirmation">
        <label for="confirmation">Confirmation</label>
      </div>
    </div>
    <a ng-click="register()" class="waves-effect waves-light btn auth-btn">Register</a>
  </form>
</div>