<div class="form-group">
  <label for="users">Add Members</label>
  <input ng-focus="show = true" ng-model="userSearch" class="form-control" id="users" placeholder="Search for current users">
</div>
<div ng-show="show" class="userList">
  <button id="close-btn" ng-focus="show = false">X</button>
  <ul>
    <li ng-repeat="user in users | orderBy: name | filter: userSearch | limitTo:3 track by user.id">
      <a ng-click="addHouseholdMember(user.id)"> {{user.name}} ({{user.username}}) </a>
    </li>
  </ul>
</div>

<div id="task-list">
  <a ng-repeat="task in taskList" href="#!/task/{{task.id}}">
    <div class="household-container">
      <div class="card household-card">
        <div class="card-body">
          {{task.title}}  ...{{task.value}}
        </div>
      </div>
    </div>
  </a>

  <div ng-click="toTaskForm()" class="task-container">
    <div class="card add-new-card">
      <div class="card-body">
        Create new task...
      </div>
    </div>
  </div>

</div>